img{
	display: none;
}
#paginaPresentacion{
	width:100%;
}
.secundario{
	background: none;
	font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
	font-size: 200%;
	text-decoration: underline;
	color:black;
}
#entrar{
	width:100%;
	line-height: 30em;
	background-image:url(../img/casa1.jpg);
	background-size:100% 100%;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#entrar a{
	display:block;
	width:30%;
	text-align: center;
	 background: #0F890C;
	 color:white;
	 text-decoration: underline;
	 font-size: 200%;

}
